<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>noticias0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">noticias0</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
    <ion-card-title>Titulo Noticia 
      <ion-icon color="danger" id="icono-volver" name="arrow-back-circle" [routerLink]="['/dashboard']"></ion-icon>
    </ion-card-title>
    
    
    </ion-card-header>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-icon color="success" name="heart" class="tres-iconos"></ion-icon>
    <ion-icon color="success" name="eye" class="tres-iconos"></ion-icon>
    <ion-icon color="success" name="attach" class="tres-iconos" ></ion-icon>
  </ion-card>
  



</ion-content>


